<div class="content has_header">
  <div class="header" ng-controller="SearchBarController">
    <ul class="navigate">
      <li ng-click="back();" class="{{canGoBack?'': 'disable'}}">&lsaquo;</li>
      <li ng-click="forward();" class="{{canGoForward?'': 'disable'}}">&rsaquo;</li>
    </ul>
    <input type="text" class="search" my-enter="search()" ng-model="query" placeholder="Sök på film, serie" name="name" value="">
  </div>

  <div class="container">


    <h2 ng-if="isEmpty" style="text-align:center;">Här var det tomt!</h2>
    <p ng-if="isEmpty" style="text-align:center;">
      Du har inte lagt till några filmer eller serier som favorit än
    </p>
    <div class="row" ng-repeat="item in list track by $index" ng-if="$index % 4 == 0">
      <!-- moviebox-->
      <div class="col-sm-3 movie"
           ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
           ng-if="list[i] != null" >

           <img ng-click="goDetail(i,list[i].title);" ng-src="{{filterImg(list[i].poster)}}" class="poster" alt="" />

           <h4>{{list[i].title}}</h4>
           <div class="row">
               <div class="col-sm-12 type">

               </div>
           </div>
      </div>
      <!--.moviebox-->
    </div>


  </div>
</div>
