
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

body,html{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open sans';
   user-select: none;
   user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
img,a{
  user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.container-fluid{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.sidebar{
  height: 100%;
  width: 200px;
  //background-color: rgba(57,90,128,0.95);/*#395a80*/
  backdrop-filter: blur(10px);
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar h4{
  color: #163963;
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
.sidebar ul li{
  list-style-type: none;
}
.sidebar ul li a {
  padding:5px;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.sidebar ul li a i{
  margin-right: 8px;
}
.sidebar ul li a.active{
  background-color: #204673;
}
/*
.content{
  position: absolute;
  left: 240px;
  top:0px;
  bottom: 0;
  right: 20px;
}
*/
.content{
  background-color: #fff;
  position: fixed;
  overflow-y: scroll;
  left: 200px;
  top:0px;
  bottom: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 20px;
}
.content.has_header{
  padding-top: 85px;
}
.header{
  height: 60px;
  position: fixed;
  left:200px;
  right: 0;
  top:0;
  border-bottom: 1px solid #ecedf2;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.header .search{
  height: 58px;
  padding-left: 50px;
  border: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  background-color: transparent;
  outline: none;
}
.header .serach::placeholder{
  color: gray;
  font-style: italic;
}

.movie{
  padding-top: 10px;
  padding-bottom: 10px;
}
.movie:hover .poster{
  opacity: 0.5;
  border:2px solid #5d99df;
  box-shadow: 0 0 5px #5d99df;
  background-color: #000;
}
.movie .poster{
  border-radius: 2px;
  width: 100%;
  height: auto;
  transition-duration: 0.3s;
  border:2px solid #fff;

}
.movie h4{
  margin: 0;
  padding: 0;
  color: #595959;
  font-size: 13px;
}
.movie .type{
  font-size: 12px;
  color: #9a9a9a;
}
.loading{
  height: 50px;
  width: auto;
}
.plot_loading img{
  display: block;
  margin: auto;
}
.plot_loading{
  background-color: rgba(242, 242, 242, 0.49);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.plot_loading p{
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 13px;
}

.poster img{
  width: 100%;
  height: auto;
}
h1{
  color: #204673;
  margin: 0;
}
.short_info{
  color: gray;
  font-size: 16px;
}
p{
  font-size: 14px;
  line-height: 21px;

}
.logo{
  width: 150px;
  margin: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
}
.loader.visible img{
visibility: visible;
}
.loader img{
  width: 60px;
height: 60px;
z-index: 12034;
position: fixed;
left: 200px;
right: 0;
top: 0;
bottom: 0;
margin: auto;
visibility: hidden;
}

/**
 * TAB-MENU
 */
 .tabs-container{
   font-family: Open sans;
   border-radius: 3px;
   position: relative;
   padding-bottom: 10px;
   display: block;
   height: auto;
 }
 .tabs-container .nav-tabs{
   margin: 0;
   padding: 0;
   position: relative;
   left: 0;
   bottom: 0;
   top: 0;
   right: auto;
   width: 150px;
   float: left;
 }
 .tabs-container .nav-tabs li{
   padding: 5px;
   border-bottom: 1px solid rgb(228, 228, 228);
   border-right: 1px solid rgb(228, 228, 228);
   font-size: 13px;
   list-style-type: none;
   cursor: default;
   background-color: rgba(242,242,242,0.5);
 }
 .tabs-container .nav-tabs li.active{
   font-weight: bold;
   border-right: 1px solid #fff;
   background-color: #fff;
 }
 .tab-content{
   margin: 0;
   padding: 0;
   position: relative;
   left: 0px;
   bottom: 0;
   top: 0;
   right: 0;
   float: left;
 }
 .tab-content ul{
   padding: 0;
   margin: 5px;
   margin-left: 30px;
 }
 .tab-content ul li{
   list-style-type: none;
   width: 150px;
   padding: 5px;
   font-size: 13px;
   border-bottom: 1px solid rgb(228, 228, 228);
 }
  .tab-content ul li .fa{
    display: none;
  }
.tab-content ul li.viewed .fa{
  display: block;
  float: right;
  margin-top: 2px;
  margin-right: 5px;
}
  .tab-content ul li.viewed{
    color: rgba(0,0,0,0.4);
  }

ul.navigate{
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 10px;
  margin-top: 13px;
}
ul.navigate li{
  list-style-type: none;
  list-style-type: none;
  display: inline;
  text-align: center;
  background-color: #f6f6f6;
  display: block;
  float: left;
  font-size: 24px;
  line-height: 22px;
  color: #333;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #ecedf2;
  border-top: 1px solid #ecedf2;
}
ul.navigate li:active{
  background-color: #eeeeee;
}
ul.navigate li.disable{
  background-color: rgba(246, 246, 246, 0.5);
  color: rgb(194, 194, 194);
}
ul.navigate li.disable:active{
  background-color: rgba(246, 246, 246, 0.5);
}
ul.navigate li:first-child{
  border-left: 1px solid #ecedf2;
  border-radius: 3px 0px 0 3px;
  border-right:1px solid #ecedf2;
}
ul.navigate li:last-child{
  border-right: 1px solid #ecedf2;
  border-radius: 0px 3px 3px 0px;
}
